.toggle-buttons {
  display: flex;
  align-items: center;
  &__movies,
  &__shows {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    font-size: $font-size-small;
    color: $color-primary-dark;
    background-color: $color-white;
    transition: background-color 200ms, color 200ms;
  }
  &__input {
    display: none;

    &:checked + label {
      color: white;
      background-color: $color-primary-light;  
    }
  }
}
.btn {
  transition: box-shadow 250ms, transform 250ms;
  letter-spacing: 3px;
  &-popular {
    color: $color-primary-light;
    padding: 0.5rem 1.25rem;
    background-color: $color-white;
    grid-area: btn-popular;
    &:hover {
      box-shadow: 0 1px 10px $color-white;
      transform: translateY(-0.1rem);
    }
    &:active {
      box-shadow: 0 0 0 $color-primary-dark;
      transform: translateY(0.1rem);
    }
  }
  &-trending {
    color: $color-white;
    border: 2px solid $color-white;
    padding: 0.5rem 1.25rem;
    grid-area: btn-trending;

    &:hover {
      box-shadow: 0 1px 10px $color-white;
      transform: translateY(-0.1rem);
    }
    &:active {
      box-shadow: 0 0 0 $color-primary-dark;
      transform: translateY(0.1rem);
    }
  }
  &-trailers {
    color: $color-white;
    padding: 0.5rem 1.25rem;
    background-color: $color-primary;
    margin: 0 2rem;
    grid-area: btn-trailers;
    text-align: center;
    &:hover {
      box-shadow: 0 1px 10px $color-primary-light;
      transform: translateY(-0.1rem);
    }
    &:active {
      box-shadow: 0 0 0 $color-primary-dark;
      transform: translateY(0.1rem);
    }
  }
  &-area {
    margin: 3.8rem 2rem 2rem 2rem;
    &__links {
      display: flex;
      justify-content: space-between;
    }
  }

  &-link {
    aspect-ratio: 1;
    color: $color-white;
    border: 1px solid $color-white;
    padding: 0.7rem 1.2rem;
    border-radius: 10rem;
    transition: all 300ms linear;
    &:hover {
      background-color: $color-white;
      color: $color-primary-dark;
    }
  }
}
