.toggle-buttons{
  display: flex;
  align-items: center;
  label {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
    font-size: $font-size-small;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked label {
    background-color: #ccc;
  }
  &__movies{
    background-color: $color-primary-light;
  }
  &__shows{
    color: $color-primary-dark;
    background-color: $color-white;
  }
}
.btn-trending {
  color: $color-white;
  border: 2px solid $color-white;
  padding: 0.5rem 1.25rem;
  grid-area: btn-trending;
}

.btn-popular {
  color: $color-primary-light;
  padding: 0.5rem 1.25rem;
  background-color: $color-white;
  grid-area: btn-popular;
}
.btn-trailers {
  color: $color-white;
  padding: 0.5rem 1.25rem;
  background-color: $color-primary;
  margin: 0 2rem;
  grid-area: btn-trailers;
  text-align: center;
}
