.primary-heading{
    font-size: $font-size-x-large;
}
.secondary-heading{
    font-size: $font-size-large;
}
.flex{
    display: flex;
}
.btn{
    font-size: $font-size-medium;
}
.jc-sb{
    justify-content: space-between;
}
.container{
    width: 90rem;
    margin-inline: auto;
}
.grid{
    display: grid;
}

.grid-2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols{
    grid-template-columns: repeat(4, 1fr);
}
.hidden{
    display: none;
    visibility: hidden;
}