/*Fonts*/
$primary-font: 'Inter', sans-serif;

/*Colors*/
$color-primary-light: #ad2831;
$color-primary: #640d14;
$color-primary-dark: #38040e;

$color-white: #ffffff;

$font-size-x-small: 1rem;
$font-size-small: 1.375rem;
$font-size-medium: 1.625rem;
$font-size-large: 2.625rem;
$font-size-x-large: 4.25rem;

$nav-items-spacing: 3.1875rem;