.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      rgba($color-primary-dark, 0.95),
      rgba($color-primary-dark, 0.95)
    ),
    url(/bg-img.jpg);
  background-size: cover;
  &-logo {
    width: 7rem;
    height: 4.75rem;
  }
  &-nav__list {
    display: flex;
    gap: $nav-items-spacing;
    align-items: center;
    &--item {
      position: relative;
      text-transform: uppercase;
      font-size: $font-size-small;
      font-weight: 500;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    &--icon {
      filter: invert(1);
      height: 1.6rem;
      width: 1.6rem;
      cursor: pointer;
    }
  }
  &-nav__icon {
    width: 2.1rem;
    cursor: pointer;
  }
  &__icon-container {
    display: flex;
    justify-content: space-between;
    & > a {
      filter: invert(1);
      &:hover {
        box-shadow: 0 2px 10px $color-white;
      }
      &:active {
        box-shadow: 0 0 0 $color-primary-dark;
      }
    }
  }
}
.dropdown {
  &:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }
}
.dropdown-menu {
  visibility: hidden;
  opacity: 0;
  padding: 2rem 1.5rem;
  display: grid;
  position: absolute;
  width: 12rem;
  top: 100%;
  left: 50%;
  transform: translate(-20%, 10%);
  gap: 1.5rem;
  font-size: $font-size-x-small;
  background-color: $color-primary-dark;
  box-shadow: 0 5px 1rem rgba($color-primary-light, 0.9);
  z-index: 100;
  transition: opacity 200ms;
}
.section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6875rem;
  background-color: $color-primary-dark;
}
.section-hero {
  padding-top: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  gap: 15rem;

  &__text {
    display: grid;
    gap: 9.625rem;

    .primary-heading {
      animation-name: primary-heading;
      animation-duration: 500ms;
    }
    .secondary-heading {
      animation-name: secondary-heading;
      animation-duration: 500ms;
    }
  }
  &__btn-area {
    align-self: flex-end;
    display: grid;
    gap: 2.8125rem;
    grid-template-areas:
      "btn-trending btn-popular"
      "btn-trailers btn-trailers";
    animation-name: btn-area;
    animation-duration: 500ms;
  }
}
