/*Main scss file*/
/*Only add imports here*/
/*Fonts*/
/*Colors*/
/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Source+Serif+Pro&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
  Remove underline from link
  */
a {
  text-decoration: none;
}

/*
    Remove default list style
*/
ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
}

.primary-heading {
  font-size: 4.25rem;
}

.secondary-heading {
  font-size: 2.625rem;
}

.flex {
  display: flex;
}

.btn {
  font-size: 1.625rem;
}

.jc-sb {
  justify-content: space-between;
}

.container {
  width: 90rem;
  margin-inline: auto;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(4, 1fr);
}

.hidden {
  display: none;
  visibility: hidden;
}

.toggle-buttons {
  display: flex;
  align-items: center;
}
.toggle-buttons label {
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1.375rem;
}
.toggle-buttons input[type=radio] {
  display: none;
}
.toggle-buttons input[type=radio]:checked label {
  background-color: #ccc;
}
.toggle-buttons__movies {
  background-color: #ad2831;
}
.toggle-buttons__shows {
  color: #38040e;
  background-color: #ffffff;
}

.btn-trending {
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem 1.25rem;
  grid-area: btn-trending;
}

.btn-popular {
  color: #ad2831;
  padding: 0.5rem 1.25rem;
  background-color: #ffffff;
  grid-area: btn-popular;
}

.btn-trailers {
  color: #ffffff;
  padding: 0.5rem 1.25rem;
  background-color: #640d14;
  margin: 0 2rem;
  grid-area: btn-trailers;
  text-align: center;
}

.header__links {
  position: relative;
  display: grid;
  gap: 1.25rem;
}
.header__links--search {
  border: none;
  background-color: transparent;
  border: 2px solid #ad2831;
  color: #ffffff;
  padding: 0.6rem 0.6rem 0.6rem 2rem;
  font-size: 1rem;
}
.header__links--search:focus {
  outline: 2px solid #640d14;
  box-shadow: 0 0.5rem 0.5rem rgba(100, 13, 20, 0.8);
}
.header__links--label {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 12%;
  left: 2%;
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(56, 4, 14, 0.95), rgba(56, 4, 14, 0.95)), url(/bg-img.jpg);
  background-size: cover;
}
.header-logo {
  width: 7rem;
  height: 4.75rem;
}
.header-nav__list {
  display: flex;
  gap: 3.1875rem;
  align-items: center;
}
.header-nav__list--item {
  position: relative;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-nav__list--icon {
  filter: invert(1);
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
}
.header-nav__icon {
  width: 2.1rem;
}
.header__icon-container {
  display: flex;
  justify-content: space-between;
}
.header__icon-container > img {
  filter: invert(1);
}

.dropdown-menu {
  padding: 2rem 1.5rem;
  display: grid;
  position: absolute;
  width: 12rem;
  top: 100%;
  left: 50%;
  transform: translate(-20%, 10%);
  gap: 1.5rem;
  font-size: 1rem;
  background-color: #38040e;
  box-shadow: 0 5px 1rem rgba(173, 40, 49, 0.9);
  z-index: 100;
}

.section-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6875rem;
  background-color: #38040e;
}

.section-hero {
  padding-top: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  gap: 15rem;
}
.section-hero__text {
  display: grid;
  gap: 9.625rem;
}
.section-hero__btn-area {
  align-self: flex-end;
  display: grid;
  gap: 2.8125rem;
  grid-template-areas: "btn-trending btn-popular" "btn-trailers btn-trailers";
}

.footer {
  background-image: linear-gradient(to left, #ad2831, #38040e);
  padding: 1.25rem;
  align-items: center;
  font-size: 1rem;
}

.section-trending {
  background-image: linear-gradient(to bottom right, #38040e, #ad2831);
  padding: 6.25rem 0;
}
.section-trending__heading {
  margin-bottom: 5rem;
}

.movie {
  column-gap: 6rem;
  row-gap: 5rem;
}
.movie-container {
  position: relative;
}
.movie-details {
  text-align: center;
}
.movie-details__rating {
  position: absolute;
  color: #38040e;
  background-color: #ffffff;
  aspect-ratio: 1;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  top: 75%;
  right: 0;
  font-size: 1.625rem;
  transform: translate(50%, 10%);
}
.movie-details__release-date {
  padding: 0.5rem;
}
.movie-details__title {
  font-size: 1.625rem;
}

.section-popular {
  background-image: linear-gradient(to bottom left, #ad2831, #38040e);
  padding: 6.25rem 0;
}

.section-trailers {
  background-image: linear-gradient(rgba(56, 4, 14, 0.8), rgba(56, 4, 14, 0.8)), url(/trailer-bg.jpg);
  padding: 6.25rem 0;
  background-position: top right;
}

.trailer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.625rem;
}
.trailer-details {
  text-align: center;
}
.trailer-details__title {
  font-size: 1.625rem;
}
.trailer-container {
  position: relative;
  width: 100%;
  height: 20rem;
}
.trailer-container__video {
  width: 100%;
  height: 100%;
}

.seperator {
  width: 100%;
  border-bottom: 4px solid #ad2831;
}

/*# sourceMappingURL=style.css.map */
